html{

    background-color: #f3f3f3;

}



.form-basic{

    

    margin: 10 auto;

    padding: 55px;

    box-sizing: border-box;



    background-color:  transparent;

    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);



    font: bold 14px sans-serif;

    text-align: center;

}



.form-basic .form-row{

    text-align: center-right;

	margin:30px;

   

	

	

}



.form-basic .form-title-row{

    text-align: center;

	color: #ffffff;

	

    margin-bottom: 55px;

	

}



/* The form title */



.form-basic h1{

    display: inline-block;

    box-sizing: border-box;

    color:  #ffffff

    font-size: 24px;

    padding: 0 10px 15px;

    border-bottom: 2px solid #6caee0;

    margin: 0;

	text-align: center;

}



.form-basic .form-row > label span{

    display: inline-block;

    box-sizing: border-box;

    color: #ffffff;

    width: 180px;

    text-align: right;

    vertical-align: top;

    padding: 12px 25px;

}



.form-basic input{

    color:  #ffffff;

    box-sizing: border-box;

    width: 240px;

    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);

    padding: 12px;

    border: 1px solid #dbdbdb;

}



.form-basic input[type=radio],

.form-basic input[type=checkbox]{

    box-shadow: none;

    width: auto;

}



.form-basic input[type=checkbox]{

    margin-top: 13px;

}



.form-basic select{

    background-color: #555555;

    color:  #ffffff;

    box-sizing: border-box;

    

    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);

    padding: 12px 8px;

    border: 1px solid #dbdbdb;

}



.form-basic textarea{

    color:  #ffffff;

    box-sizing: border-box;

    width: 750px;

    height: 300px;

    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);

    font: normal 13px sans-serif;

    padding: 12px;

    border: 1px solid #dbdbdb;

    resize: vertical;

}



.form-basic .form-radio-buttons{

    display: inline-block;

    vertical-align: l;

}



.form-basic .form-radio-buttons > div{

    margin-top: 10px;

}



.form-basic .form-radio-buttons label span{

    margin-left: 8px;

    color: #ffffff;

    font-weight: normal;

}



.form-basic .form-radio-buttons input{

    width: auto;

}







/*	Making the form responsive. Remove this media query

    if you don't need the form to work on mobile devices. */



@media (max-width: 600px) {



 



    .form-basic .form-row{

        

        margin: 25px auto;

        text-align: center;

    }



    .form-basic .form-title-row{

        margin-bottom: 50px;

    }



    .form-basic .form-row > label span{

        display: block;

        text-align: center;

        padding: 0 0 15px;

    }



    .form-basic select{

        width: 240px;

    }



    .form-basic input[type=checkbox]{

        margin-top:0;

    }



    



    

	



}

