/* Main */


html{
	background-color: #2978a3;
}

#menu2 {

    width:130px;

    margin: 0;

    padding: 10px 0 0 0;

    list-style: none;  

    background-color: #111;

    background-image: linear-gradient(#254C79,#0A1726);

    border-radius: 50px;

    box-shadow: 0 0px 0px #9c9c9c;

	float:center;

	position:absolute;

	left: 45%;

	

}



#menu2 li {

    float: center;

    padding: 0 0 10px 0;

    position: relative;

}



#menu2 a {

    float: center;

    height: 25px;

    padding: 0 25px;

    color: #CBDAEC;

    text-transform: uppercase;

    font: bold 12px/25px Arial, Helvetica;

    text-decoration: none;

    text-shadow: 0 1px 0 #000;

}



#menu2 li:hover > a {

    color: #fafafa;

}



*html #menu2 li a:hover { /* IE6 */

    color: #fafafa;

}



#menu2 li:hover > ul {

    display: block;

}



/* Sub-menu */

#menu2 ul {

    list-style: none;

    margin: 0;

    padding: 0;    

    display: none;

    position: absolute;

    top: 35px;

    left: 45%;

    z-index: 99999;    

    background-color: #444;   

    background-image: linear-gradient(#444, #111);    

    -moz-border-radius: 5px;

    border-radius: 5px;

}



#menu2 ul li {

    float: center;

    margin: 0;

    padding: 0;

    display: block;  

    box-shadow: 0 1px 0 #111111, 

                0 2px 0 #777777;

}



#menu2 ul li:last-child { 

    box-shadow: none;    

}



#menu2 ul a {    

    padding: 10px;

    height: auto;

    line-height: 1;

    display: block;

    white-space: nowrap;

    float: none;

    text-transform: none;

}



*html #menu2 ul a { /* IE6 */   

    height: 10px;

    width: 150px;

}



*:first-child+html #menu2 ul a { /* IE7 */    

    height: 10px;

    width: 150px;

}



#menu2 ul a:hover {

    background-color: #0186ba;

    background-image: linear-gradient(#04acec, #0186ba);

}



#menu2 ul li:first-child a {

    border-radius: 5px 5px 0 0;

}



#menu2 ul li:first-child a:after {

    content: '';

    position: absolute;

    left: 50%;

    top: -8px;

    width: 0;

    height: 0;

    border-left: 5px solid transparent;

    border-right: 5px solid transparent;

    border-bottom: 8px solid #444;

}



#menu2 ul li:first-child a:hover:after {

    border-bottom-color: #04acec; 

}



#menu2 ul li:last-child a {

    border-radius: 0 0 5px 5px;

}



/* Clear floated elements */

#menu2:after {

    visibility: hidden;

    display: block;

    font-size: 0;

    content: " ";

    clear: both;

    height: 0;

}



* html #menu2             { zoom: 1; } /* IE6 */

*:first-child+html #menu2 { zoom: 1; } /* IE7 */